version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: auth_postgres
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  migrate:
    build: .
    depends_on:
      - db
    env_file:
      - .env
    command: >
      sh -c "
      migrate -path ./migrations
      -database postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?sslmode=disable
      up
      "

  auth-service:
    build: .
    depends_on:
      migrate:
        condition: service_completed_successfully
    env_file:
      - .env
    ports:
      - "8080:8080"

volumes:
  postgres_data:
