services:
  db:
    image: postgres:16-alpine
    container_name: auth_postgres
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 10

  auth-service:
    build: .
    container_name: auth_service
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8080:8080"
    restart: always

volumes:
  postgres_data:
